body {
    display: flex;
    flex-direction: column;
    border-color: #1F2937;
}


.top {
    flex: 1 1 400px;
    background: #1F2937;
}

.info {
    flex: 1 1 200px;
    background: white;
}

.quote {
    flex: 1 1 200px;
    background: #E5E7EB;
}

.bottom {
    flex: 1 1 200px;
    background: #1F2937;
}